// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// External Primary monitor

// Catch all for monitors

output "" {
    scale 1.0
    transform "normal"
    focus-at-startup
}