layout {

    focus-ring {
        active-color   "#6795e4"
        inactive-color "#161c27"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6795e4"
        inactive-color "#161c27"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#6795e4"
        inactive-color "#143d85"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6795e480"
    }
}

recent-windows {
    highlight {
        active-color "#6795e4"
        urgent-color "#fd4663"
    }
}
