# Default ignored files
/shelf/
/workspace.xml
# Extra ignored files
/misc.xml
/modules.xml
/nixConfig.iml
/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml